{% extends 'base.html.twig' %}

{% block title %}Mandy | Mon compte{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
<ul>
    <li><a href="{{ path('app_account') }}">Retourner à mon compte</a></li>
</ul>
{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{ form(form) }}

{% endblock %}
