* {
    margin: 0;
    padding: 0;
}
.body,
.main {
    background-color: #e9e5c6;
}
.main {
    margin: 2em 0 5em 0;
    min-height: 60vh;
}
.navbar-item-custom {
    color: black;
}

.navbar-item-custom > a {
    color: black;
}

.footer_custom {
    text-align: center;
    width: 100%;
    background-color:#dcd7ab;
    border-top: 2px solid #b55c54;
}

.navbar_custom {
    background-color: #dcd7ab;
    border-bottom: 2px solid #b55c54;
    height: 80px;
}