{% extends 'base.html.twig' %}

{% block title %}Mandy | Inscription{% endblock %}

{% block content %}

<h1>Inscription</h1>

{% if notification %}
    <hr>
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}

{{ form(form) }}

{% endblock %}