{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous ? - Mandy{% endblock %}

{% block content %}

<h2>Qui sommes-nous ?</h2>
<p>Lorem ipsum dolor sit amet.</p>
<hr>

<div class="row">
    <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, nulla veniam! Harum, minima. Nihil, officia dolore a laboriosam id, cum molestias explicabo officiis animi minus repellendus itaque. Reprehenderit mollitia eius placeat, neque magnam rem esse eos, nihil praesentium exercitationem laborum consequuntur? Modi perferendis sequi similique officiis, et ipsum aspernatur tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptas vitae nam, quam neque libero ad beatae eligendi obcaecati, odit sint placeat iure ut, sapiente omnis? Nobis exercitationem at est!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non adipisci esse aliquam, doloremque aliquid minima, saepe hic rerum cupiditate consequatur ducimus, soluta at perferendis eum quae recusandae illum maxime a quas in quasi est ut! Placeat laborum vitae vel non fugiat dolorem corrupti explicabo assumenda aspernatur architecto repellat, obcaecati possimus ducimus alias ea eum voluptatum quis, soluta, quos dolores aut! Blanditiis, quidem. Ab culpa itaque adipisci, ullam distinctio error voluptate. Ullam suscipit totam consequuntur alias, amet iure pariatur necessitatibus consectetur perspiciatis quae modi ex, nisi aliquid, nam qui illum quidem doloremque error. Repudiandae sed inventore voluptas eligendi? Laudantium earum velit dolor natus placeat praesentium, vero rem fugit similique hic blanditiis a mollitia veniam iure minima ipsa eos molestias explicabo doloremque numquam qui quisquam accusamus ipsam. Neque, dicta harum inventore vitae esse nemo nostrum, saepe labore, fugit adipisci magni dolorem. Quia at similique animi sunt voluptate rerum neque dolor nesciunt dolorem perferendis sint fuga voluptatibus voluptates dignissimos modi cupiditate ut id non ipsam ab expedita, consectetur obcaecati magnam magni. Aliquam illo doloribus, sapiente aliquid dolorem architecto accusantium aperiam iusto consectetur quod in, voluptatem magnam, cum possimus voluptate nihil distinctio voluptas nobis aspernatur inventore quaerat quas! Nulla provident soluta asperiores illo distinctio necessitatibus dolorem, blanditiis sapiente, eveniet dolor culpa saepe nesciunt libero harum obcaecati sequi. Libero tempora odio omnis tempore earum asperiores dolores quod ipsam facilis, corrupti minus nemo, ad quos ut officia! Saepe eum accusantium quaerat sunt recusandae totam ab porro aliquam! Ipsam commodi quisquam saepe quae tenetur ad aliquam.</p>
    
    </div>
    <div class="col-md-4 text-center">
        <strong>Mandy</strong>
        <hr>
        061122334455
        <br>
        1 rue de la soif
        <br>
        50000 TROIE
        <br>
        <a href="{{ path('app_contact') }}">Nous contacter</a>
    </div>
</div>


{% endblock %}